[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = "==0.85.*", index="pypi"}
uvicorn = {version = "==0.18.*", index="pypi", extras = ["standard"]}
pydantic = {version = "==1.10.*", index="pypi"}
sqlalchemy = {version = "==1.4.*", index="pypi"}
alembic = {version = "==1.8.*", index="pypi"}
asyncpg = {version = "==0.26.*", index="pypi"}
asgiref = {version = "==3.6.*", index="pypi"}
psycopg2-binary = {version = "==2.9.*", index="pypi"}
python-dotenv = {version = "==0.21.*", index="pypi"}

[requires]
python_version = "3.10"